//- navbar
.container
	.row
		img.img-responsive.hidden-xs(src="../assets/images/checkout/checkout_banner.png")
		img.img-responsive.visible-xs(src="../assets/images/checkout/checkout_banner_s.png")
	.row
		div.col-md-10.col-md-offset-1
			div#form-container
				.row
					div#status-buttons.text-center.col-md-8.col-md-offset-2
						.row
							a.col-md-4.col-xs-4(ui-sref-active="active", ui-sref=".product_check")
								.in-circle 
									span.h5 STEP
									br
									spna.h2 01
								| 確認購物清單
								br
								| CHECK ORDER
							a.col-md-4.col-xs-4(ui-sref-active="active", ui-sref=".shipment_payment")
								.in-circle
									span.h5 STEP 
									br
									span.h2 02
									br
								| 付款方式
								br
								| SELECT PAYMENT
							a.col-md-4.col-xs-4(ui-sref-active="active", ui-sref=".final_confirm")
								.in-circle 
									span.h5 STEP 
									br
									span.h2 03
								| 最後確認
								br
								| COMFIRM ORDER
				.row
					form.form-horizontal(name="checkout_form", novalidate)
						div#form-views(ui-view="")
//- footer